body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    overflow: scroll;
    background-color: #DBE2EF;    
    margin-left: 0;
}

.barraTopo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #112D4E;
    color: #DBE2EF;
    width: 100%;
    height: 130px;
    border: 0;
}

.logo img {
    width: 250px;
}


.navegacao {
    display: flex;
    flex: row;
    height: 100px;
    border: none;
}

.navegacao button {
    background-color: transparent;
    height: 100%;
    color: #DBE2EF;
    border: 1px solid #ccc;
    cursor: pointer;
    border: 0;
    font-size: 20px;
    padding: 10px;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;    
    height: 200px;
}

.loginCard form {
    
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    border: 1px solid ;
    border-color: #112D4E;
    background-color: #112D4E;
    padding: 100px 300px;
    border-radius:25px;
    align-items: end;
}

.loginCard p {
    
    color: #DBE2EF;
    align-items: end;
}

.loginCard .inputEmailLogin {
    margin-bottom: 5px;
    margin-left: 0;
    align-items: flex-end;
}

.loginCard .inputSenhaLogin {
    margin-bottom: 5px;
}

.loginCard button {
}

.classPerfil {
    margin-top: 130px;
}
.classHistoricoUsuario {
    margin-top: 130px;
}
.classPerfilAlteracao {
    margin-top: 130px;
}
.classHistoricoProfissional {
    margin-top: 130px;
}
.classEspecialidades {
    margin-top: 130px;
}
.classAlterar {
    margin-top: 130px;
}
.classAlterarSenha {
    margin-top: 130px;
}
.classAlterarNumero {
    margin-top: 130px;
}
.classStatusServico {
    margin-top: 130px;
}
.classAvaliacaoServico {
    margin-top: 130px;
}
.classAvaliacaoProfissional {
    margin-top: 130px;
}
.classRetornoContato {
    margin-top: 130px;
}
.classNaoContratado {
    margin-top: 130px;
}

