.App {
  min-height: calc(100vh - 67px);
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #DBE2EF;
  font-family: "Open Sans", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  overflow: scroll;
  background-color: #DBE2EF;
  margin-left: 0;
}


.buttonBase {
  background-color: #DBE2EF;
  padding: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #112D4E;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  align-self: center;
  font-weight: bold;
}

button.inactive {
  background-color: #DBE2EF;
  padding: 7px;
  margin: 20px;
  color: #112D4E;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  opacity: 60%;
  cursor: default;
}

.buttonVoltar {
  border-radius: 25px;
  background-color: #112D4E;
  color: #DBE2EF;
  border: none;
}

.buttonEdit {
  border-radius: 25px;
  background-color: #112D4E;
  color: #DBE2EF;
  border: none;
  border-color: #DBE2EF;
}

.editScreen {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 20px;
}

.labelEdit {
  font-weight: bold;
}

.logoNavBar {
  width: 100px;
  height: auto;
  align-self: center;
}

.exibicaoFiltrada{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.formDisplay {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.tipoCadastro {
  display: flex;
  flex-direction: column;
  align-items: center;

}



body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  overflow: scroll;
  background-color: #DBE2EF;
  margin-left: 0;
}

nav .principal {
  flex-grow: 1;
}


/* Barra de navegação fixa no topo */
nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #112D4E;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 1000;
}

/* Estilo dos links */
nav a {
  color: #DBE2EF;
  color: #DBE2EF;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover com highlight*/
nav a:hover {
  background-color: #DBE2EF;
  color: #112D4E;
}

nav a:has(img.logoNavBar):hover {
  background-color: transparent;
  color: inherit; 
  cursor: pointer;
}

.logoNavBar:hover {
  transform: scale(1.1);
}

.fundoCadastro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 0%;
  height: 0%;
}

/*Card central*/

.backgroundScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid;
  border-color: #112D4E;
  background-color: #112D4E;
  padding: 20px;
  border-radius: 25px;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  color: #DBE2EF;
}

.homeProfessional {
  display: flex;
  flex-direction: row;
}

.cardProfissao {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardProfissao img {
  width: 100%;
}

.cardProfissao img:hover {
  transform: scale(1.3);
  transition: 0.5s ease-in-out;
}

.cardProfissao label {
  font-weight: 500;
  font-size: 25px;
}

.cardLista {
  box-shadow: #DBE2EF 2px 2px 5px;
  margin-bottom: 10px;
  height: 100px;
  width: 200px;
  margin: 15px;
  padding: 5px
}

.cardLista:hover {
  transform: scale(1.2);
}

.row {
  display: flex
}

.exibFuncao {
  background-color: #DBE2EF;
  color: #112D4E;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  gap: 5px;
}

.profilePicture {
  border-radius: 25px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #DBE2EF;
  text-align: left;
}

.login label {
  margin: 10px;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #DBE2EF;
  text-align: left;
}

.register label {
  margin: 10px;
}

.alterarLoginCadastro {
  color: #DBE2EF;
  font-size: 15px;
  cursor: pointer;
}

.backgroundQS {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
  border: 1px solid;
  border-color: #112D4E;
  background-color: #112D4E;
  padding: 50px;
  border-radius: 25px;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 0;
  color: #DBE2EF;
  max-width: 800px;
}

.backgroundQS div {
  font-size: 25px;
}

.backgroundQS img {
  width: 500px;
  margin-bottom: 50px;
}


.toast {
  position: fixed;
  display: block !important;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-20px);
  animation: toastFadeInOut 3s forwards;
  z-index: 9999;
}

.inputErro {
  border: 3px solid red;
  background-color: #F9F7F7;
  border-radius: 5px;
  width: 300px;
}

.inputErroTexto {
  color: red;
}

.input {
  border: 5px solid #F9F7F7;
  background-color: #F9F7F7;
  border-radius: 5px;
  width: 300px;
}


Input {
  border: 5px solid #F9F7F7;
  background-color: #F9F7F7;
  border-radius: 5px;
  width: 300px;
}

Select {
  border: 5px solid #F9F7F7;
  background-color: #F9F7F7;
  border-radius: 5px;

}

Form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

Footer {

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #112D4E;
  color: #DBE2EF;
  text-align: center;
  padding: 10px 0 0;
}


@keyframes toastFadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }

  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-60px);
  }
}